.toggle{
    color: rgb(133, 21, 85);
    margin: 100px;
    background-color: rgb(225, 187, 208);
    width: 400px;
    margin-left: 600px;
}
.togglebtn{
    border-radius: 10px;
    padding: 10px;
   /* position: fixed; */
   margin: 0px 10px;
   /* position: fixed; */
  
}