.mainform{
    height: 300px;
    width: 40%;
    margin:120px ;
    background-image: linear-gradient(rgb(228, 222, 222),gray);
    padding: 25px;
    box-shadow: 37px -33px 6px 2px rgba(0,0,0,0.1);
    margin-left: 200px !important;
    
    
}

.formbtn{
    background-image: linear-gradient(rgb(228, 222, 222),rgb(83, 82, 82));
    border: none;
   
    color: black;
    font-weight: bold;
}
.display{
   background-image: linear-gradient(rgb(228, 222, 222),rgb(83, 82, 82)); 
   width: 20%;
   box-shadow: 0 0 10px; 
  
}
@media(max-width:1341px){
    .mainform{
        margin-left: 300px;
    }
}
@media(max-width:1120px){
    .mainform{
        margin-left: 400px;
    }
}

